[submodule "lbda/vendor/pybind11"]
	path = lbda/vendor/pybind11
	url = https://github.com/pybind/pybind11
[submodule "lbda/vendor/carma"]
	path = lbda/vendor/carma
	url = https://github.com/RUrlus/carma
